:root {
  --sl-color-accent-low: #0a2a4e;
  --sl-color-accent: #1485EF;
  --sl-color-accent-high: #b8dafb;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eeeeee;
  --sl-color-gray-2: #c2c2c2;
  --sl-color-gray-3: #8b8b8b;
  --sl-color-gray-4: #585858;
  --sl-color-gray-5: #383838;
  --sl-color-gray-6: #272727;
  --sl-color-black: #181818;
}

table td,
table th {
  white-space: nowrap;
}

table td:last-child,
table th:last-child {
  white-space: normal;
}

:root[data-theme='light'] {
  --sl-color-accent-low: #dceefb;
  --sl-color-accent: #1485EF;
  --sl-color-accent-high: #082c50;
  --sl-color-white: #181818;
  --sl-color-gray-1: #272727;
  --sl-color-gray-2: #383838;
  --sl-color-gray-3: #585858;
  --sl-color-gray-4: #8b8b8b;
  --sl-color-gray-5: #c2c2c2;
  --sl-color-gray-6: #eeeeee;
  --sl-color-black: #ffffff;
}
